.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(26, 26, 26, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.soon p {
  font-size: calc(10px + 2vmin);
  font-family: Source Sans Pro;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-decoration: none;
  color: rgba(231, 189, 116, 0.8);
}

.footer {
  font-size: calc(10px + 1vmin);
  position: absolute;
  bottom: 0;
}
.footer p {
  color: gray;
}
